.petForm { 
    margin-top: 1.5rem;
}

.col-12 {
    display: flex;
    justify-content: center;
    padding: 0.75em;
}

.p-field-radiobutton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radio {
    margin: 0.4rem;
}

.buttons-field {
    border: 1px solid black;
}

.p-button-sm {
    margin: 0.3rem
}

@media only screen and (max-width: 670px) { 
    .petForm {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
}
