.show-btn {
    display: none;
}

a {
    text-decoration: none;
}

#add-pet-btn {
    margin-top: 0.5rem;
}

@media only screen and (max-width: 576px) {
    .hide-columns {
        display: none;
        min-width: 130px;
    }

    .show {
        display: table-cell;
    }

    .show-btn {
        display: block;
    }
    
    .switch {
        padding-top: 0.5rem;
    }
}