<p-table #dt1 [value]="petServices" dataKey="name" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers " [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['name','price','description']">
    <ng-template pTemplate="caption">

        <div class="d-flex flex-sm-row flex-column justify-content-between 
        align-items-center">

            <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                    placeholder="Search keyword" />
            </span>

            <button pButton type="button" class="p-button-text p-button-secondary" id="add-pet-btn"
            (click)="onAddService()">Add Service</button>
        </div>
       

    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon>
            </th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pService let-expanded="expanded">
        <tr>
            <td>
                <a [routerLink]="['/app/pet-services', pService.id]">
                    {{pService.name}}
                </a>
            </td>
            <td>{{pService.price}}</td>
            <td>{{pService.description}}</td>
        </tr>
    </ng-template>
</p-table>