<div class="container g-0">

    <div class="formcont">
        <form [formGroup]="caseForm">

            <div class="margin-b-10">
                <input class="p-invalid" type="text" pInputText placeholder="Name" formControlName="name">
                <div *ngIf="caseForm.controls['name'].invalid && caseForm.controls['name'].dirty">
                    <small *ngIf="caseForm.controls['name'].errors?.required" class="p-error">Name is
                        required</small>
                </div>
            </div>

            <div class="margin-b-10">
                <p-dropdown [options]="animals" formControlName="animalId" optionValue="id" placeholder="Animal"
                    optionLabel="name" [showClear]="true">
                    <ng-template let-animal>
                        <div class="p-d-flex p-ai-center">
                            <div>{{animal.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <div *ngIf="caseForm.controls['animalId'].invalid && caseForm.controls['animalId'].dirty">
                    <small *ngIf="caseForm.controls['animalId'].errors?.required" class="p-error">Animal is
                        required</small>
                </div>
            </div>

            <div class="margin-b-10">
                <p-dropdown [options]="filteredRaces" formControlName="raceId" optionValue="id" placeholder="Race"
                    optionLabel="name" [showClear]="true">
                    <ng-template let-race>
                        <div class="p-d-flex p-ai-center">
                            <div>{{race.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <div *ngIf="caseForm.controls['raceId'].invalid && caseForm.controls['raceId'].dirty">
                    <small *ngIf="caseForm.controls['raceId'].errors?.required" class="p-error">Race is
                        required</small>
                </div>
            </div>


            <div class="margin-b-10">
                <p-dropdown [options]="filteredPets" formControlName="petId" optionValue="id" placeholder="Pet"
                    optionLabel="name" [showClear]="true">
                    <ng-template let-pet>
                        <div class="p-d-flex p-ai-center">
                            <div>{{pet.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="msg" *ngIf="petId">record-{{selectedPetId}}</small>
                <!-- *ngIf="selectedPet" -->
                <div *ngIf="caseForm.controls['petId'].invalid && caseForm.controls['petId'].dirty">
                    <small *ngIf="caseForm.controls['petId'].errors?.required" class="p-error">Pet is
                        required</small>
                </div>

            </div>

            <div class="margin-b-10">
                <p-calendar dateFormat="dd/mm/yy" formControlName="date" [showIcon]="true">
                </p-calendar>
                <div *ngIf="caseForm.controls['date'].invalid && caseForm.controls['date'].dirty">
                    <small *ngIf="caseForm.controls['date'].errors?.required" class="p-error">Date is required</small>
                </div>
            </div>

            <div class="margin-b-10">
                <p-multiSelect [options]="vets" formControlName="vetCases" optionValue="id" defaultLabel="Select a Vet"
                    optionLabel="fullName" display="chip">
                    <ng-template let-vet>
                        <div class="p-d-flex p-ai-center">
                            <span>{{vet.fullName}}</span>
                        </div>
                    </ng-template>
                </p-multiSelect>
                <div *ngIf="caseForm.controls['vetCases'].invalid && caseForm.controls['vetCases'].dirty">
                    <small *ngIf="caseForm.controls['vetCases'].errors?.required" class="p-error">Vet is
                        required</small>
                </div>
            </div>


            <div class="margin-b-10">
                <p-multiSelect [options]="petServices" formControlName="casePetServices" optionValue="id"
                    defaultLabel="Select a Service" optionLabel="name" display="chip">
                    <ng-template let-service>
                        <div class="p-d-flex p-ai-center">
                            <span>{{service.name}}</span>
                        </div>
                    </ng-template>
                </p-multiSelect>
                <div *ngIf="caseForm.controls['casePetServices'].invalid && caseForm.controls['casePetServices'].dirty">
                    <small *ngIf="caseForm.controls['casePetServices'].errors?.required" class="p-error">Service
                        is required</small>
                </div>
            </div>

            <div class="margin-b-10">
                <textarea [rows]="3" [cols]="36" pInputTextarea autoResize="autoResize" placeholder="Diagnosis"
                    formControlName="diagnosis"></textarea>
            </div>

            <!-- formArr controls -->
            <div class="header" *ngIf="controlsForm.controls.length">Controls</div>

            <div formArrayName="controls">

                <div class="row g-0">
                    <div class="col-12">

                        <div *ngFor="let controlFormGroup of controlsForm.controls; let i = index">

                            <div [formGroup]="controlsForm.controls[i]">

                                <div class="row g-0 align-items-center magin-b-10">
                                    <div class="col-10 ">

                                        <div class="margin-b-5">
                                            <input class="p-invalid" type="text" pInputText placeholder="Name"
                                                formControlName="name">
                                            <div *ngIf="controlFormGroup.controls['name'].invalid &&
                                             controlFormGroup.controls['name'].dirty">
                                                <small *ngIf="controlFormGroup.controls['name'].errors?.required"
                                                    class="p-error">Name
                                                    is required</small>
                                            </div>
                                        </div>

                                        <input class="p-invalid margin-b-5" type="text" pInputText
                                            placeholder="Description" formControlName="description">


                                        <div class="margin-b-10">
                                            <p-calendar dateFormat="dd/mm/yy" formControlName="date" [showIcon]="true"
                                                value="{{ controlFormGroup.date | date: 'dd/MM/y }}" placeholder="Date">
                                            </p-calendar>
                                            <div
                                                *ngIf="controlFormGroup.controls['date'].invalid && controlFormGroup.controls['date'].dirty">
                                                <small *ngIf="controlFormGroup.controls['date'].errors?.required"
                                                    class="p-error">Date
                                                    is required</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2 align">
                                        <i class="pi pi-trash" style="font-size: 1.1rem; color: red;"
                                            (click)="deleteControl(i)"></i>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-12 align magin-b-10">
                        <button pButton type="button" class="p-button-sm p-button-text p-button-primary"
                            (click)="addConstrolsForm()">Add Control</button>

                    </div>

                </div>

            </div>

            <!-- formArr therapies -->
            <div class="header" *ngIf="therapiesForm.controls.length">Therapies</div>

            <div formArrayName="therapies">

                <div class="row g-0">
                    <div class="col-12">

                        <div class="field-form" *ngFor="let therapyFormGroup of therapiesForm.controls; let i = index">

                            <div [formGroup]="therapiesForm.controls[i]">

                                <div class="row g-0 align-items-center magin-b-10">
                                    <div class="col-10 ">

                                        <div class="margin-b-5">
                                            <input class="p-invalid" type="text" pInputText placeholder="Drug"
                                                formControlName="drug">
                                            <div
                                                *ngIf="therapyFormGroup.controls['drug'].invalid && therapyFormGroup.controls['drug'].dirty">
                                                <small *ngIf="therapyFormGroup.controls['drug'].errors?.required"
                                                    class="p-error">Drug
                                                    is required</small>
                                            </div>
                                        </div>

                                        <input class="p-invalid margin-b-5" type="text" pInputText
                                            placeholder="Description" formControlName="description">

                                        <div class="margin-b-10">
                                            <p-calendar dateFormat="dd/mm/yy" formControlName="date" [showIcon]="true"
                                                value="{{ therapyFormGroup.date | date: 'dd/MM/y }}" placeholder="Date">
                                            </p-calendar>
                                            <div
                                                *ngIf="therapyFormGroup.controls['date'].invalid && therapyFormGroup.controls['date'].dirty">
                                                <small *ngIf="therapyFormGroup.controls['date'].errors?.required"
                                                    class="p-error">Date
                                                    is required</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2 align">
                                        <i class="pi pi-trash" style="font-size: 1.1rem; color: red;"
                                            (click)="deleteTherapy(i)"></i>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-12 align margin-b-10">
                    <button pButton type="button" class="p-button-sm p-button-text p-button-primary"
                        (click)="addTherapiesForm()">Add Therapy</button>
                </div>

            </div>

            <!-- drag & drop upload -->
            <app-uploader #fileUploader></app-uploader>

            <div class="row g-0 justify-content-center magin-b-10">
                <div class="col-auto">
                    <button pButton type="button" class="p-button-sm margin-r-10" (click)="onAddCase()"
                        [disabled]="!caseForm.valid">Add
                        Case</button>

                    <button pButton type="button" class="p-button-sm p-button-secondary"
                        (click)="onCancel()">Cancel</button>
                </div>
            </div>

        </form>
    </div>


</div>