.login-container {
    margin: 0 auto;
    max-width: 450px;
}

.p-inputgroup {
    width: 100% !important;
}

.t-margin {
    margin-top: 10px;
}

.b-margin {
    margin-bottom: 5px;
}


@media only screen and (max-width: 670px) { 
    .login-container {
        width: 100%;
    }

    .login-container {
        height: 100vh;
        position: relative;
    }
    
    form {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}