<!-- <form [formGroup]="form">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input placeholder="Enter Username"  formControlName="username">
        <br>
      <label><b>Password</b></label>
      <input placeholder="Enter Password" formControlName="password">
        <br>
    </div>
    <button (click)="submit()">Login</button>
</form> -->

<form [formGroup]="form">
    Username: <input type="text" formControlName="username"><br>
    Pass: <input type="password" formControlName="password"><br>
  
    <button (click)="submit()">Login</button>
</form>


<!-- <div class="login-page-ct">
    <div class="login-page row no-gutters">

        <div class="login-form col-12 col-md-6">

            <div *ngIf="pendingResponse">
                <mat-spinner [diameter]="40"></mat-spinner>
            </div>
            <img class="img-h" src="../../../../assets/images/logos/logo-b.svg" alt="">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="sign-in">
                    Sign in
                </div>
                <div style="padding-bottom: .1rem;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Username</mat-label>
                        <input matInput type="email" placeholder="Username" formControlName="email">
                        <mat-error *ngIf="form.get('email').hasError('required')">
                            Username is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div style="padding-bottom: .1rem;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Password" formControlName="password">
                        <mat-error *ngIf="form.get('password').hasError('required')">
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="inline-flex items-end justify-between w-full mt-1.5 ng-tns-c122-9">
                    <a class="text-md font-medium text-primary-500 hover:underline ng-tns-c122-9" href="/forgot-password">Forgot password? </a>
                </div>

                <div>
                    <button mat-raised-button color="primary" [disabled]="!form.valid" style="width: 100%;">Sign in</button>
                </div>

            </form>
        </div>
        <div class="login-bg col-md-6">
            <div class="welcome-ct">
                <div class="">
                    <div class="welcome-title">Welcome!</div>
                    <div class="welcome-sub">Welcome to the Delegates area of the EGATIN website.</div>
                </div>
            </div>
        </div>
    </div>
</div> -->