<div class="container g-0">
    <div class="formcont">
        <form [formGroup]="userForm">

            <div class="margin-b-10">
                <input class="input" type="text" pInputText placeholder="Username" formControlName="username">
                <div *ngIf="userForm.controls['username'].invalid && userForm.controls['username'].dirty">
                    <small *ngIf="userForm.controls['username'].errors?.required" class="p-error">Username is
                        required</small>
                </div>
            </div>

            <div class="margin-b-10">
                <input class="input" type="text" pInputText placeholder="Email" formControlName="email">
                <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].dirty">
                    <small *ngIf="userForm.controls['email'].errors?.required" class="p-error">Email is
                        required</small>
                </div>
            </div>


            <div class="margin-b-10">
                <p-dropdown [options]="roles" optionValue="id" formControlName="roleId" placeholder="Role"
                    optionLabel="name" [showClear]="true">
                    <ng-template let-role>
                        <div class="p-d-flex p-ai-center">
                            <div>{{role.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <div *ngIf="userForm.controls['roleId'].invalid && userForm.controls['roleId'].dirty">
                    <small *ngIf="userForm.controls['roleId'].errors?.required" class="p-error">Role is
                        required</small>
                </div>
            </div>

            <div class="margin-b-10">
                <input class="input" type="text" pInputText placeholder="First Name" formControlName="firstName">
            </div>

            <div class="margin-b-10">
                <input class="input" type="text" pInputText placeholder="Last Name" formControlName="lastName">
            </div>

            <div class="row g-0 justify-content-center margin-t-10 magin-b-10">
                <div class="col-auto">
                    <button pButton type="button" class="p-button-sm margin-r-10" (click)="onAddUser()"
                        [disabled]="!userForm.valid">Add
                        User</button>
                    <button pButton type="button" class="p-button-sm p-button-secondary" (click)="onCancel()">Cancel
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>





<!-- <div class="p-inputgroup">
            <p-password [toggleMask]="true" [feedback]="false" placeholder="Password" formControlName="password">
        </div> -->