
<form [formGroup]="petServiceForm" class="petServiceForm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="field">
                    <input class="p-invalid" type="text" pInputText placeholder="Name" formControlName="name" [style]="{'width':'250px'}">           
                    <div *ngIf="petServiceForm.controls['name'].invalid && petServiceForm.controls['name'].dirty">
                        <small *ngIf="petServiceForm.controls['name'].errors?.required" class="p-error">Name is required</small>
                    </div> 
                </div>
            </div>

            <div class="col-12">
                <div class="field">
                    <input class="p-invalid" type="text" pInputText placeholder="Price" formControlName="price" [style]="{'width':'250px'}">           
                    <div *ngIf="petServiceForm.controls['price'].invalid && petServiceForm.controls['price'].dirty">
                        <small *ngIf="petServiceForm.controls['price'].errors?.required" class="p-error">Price is required</small>
                    </div> 
                </div>
            </div>

            <div class="col-12">
                <div class="field">
                    <input class="p-invalid" type="text" pInputText placeholder="Description" formControlName="description" [style]="{'width':'250px'}">           
                </div>
            </div>

            <div class="col-12">
                <button pButton type="button" class="p-button-sm" (click)="onEditService()" [disabled]="!petServiceForm.valid">Edit</button>
                <button pButton type="button" class="p-button-sm p-button-secondary" (click)="onDeleteServiceModal(petService)">Delete</button>
            </div>
            <br>
            <div class="col-12">
                <button _ngcontent-ufx-c54="" pbutton="" pripple="" type="button" icon="pi pi-times" 
                class="p-button-rounded p-button- p-button-text p-ripple p-button p-component p-button-icon-only" (click)="onCancel()">
                <span class="p-button-icon pi pi-times" aria-hidden="true"></span><span aria-hidden="true" class="p-button-label">
                &nbsp;</span><span class="p-ink" style="height: 33px; width: 33px; top: 2.51562px; left: 3.59375px;"></span></button>
            </div>
        </div>
    </div>    
</form>    