<div class="sidenav-menu">
    <div class="navbar-controls">
        <div class="navbar-logo">
            <div style="color: white; font-size: 19px; font-weight: 500;">VET</div>
        </div>
        <div class="nav-buttons">
            <button mat-icon-button (click)="toggleSidenav()" class="toggle-button">
            </button>
        </div>
    </div>
    <div class="app-navbar-content">
        <div *ngFor="let item of navigation" class="sidenav-body">
            <ng-container *ngIf="isAuth(item.canAccess)">
                <app-nav-group *ngIf="item.type=='group'" [item]="item" id="{{item.id}}"></app-nav-group>
            </ng-container>     
        </div>
    </div>
</div>