// .p-field-radiobutton {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
// }

.formcont {
    margin: 0 auto;
    max-width: 450px;
}

.header {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px
}

.radio {
    margin: 0.4rem;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-b-5 {
    margin-bottom: 5px;
}

.margin-b-10 {
    margin-bottom: 10px;
}

.margin-r-10 {
    margin-right: 10px;
}

.align-cnt {
    text-align: center;
}

.p-inputtext {
    width: 100% !important;
}

.p-inputtext {
    width: 100% !important;
}

p-dropdown ::ng-deep .p-component {
   width: 100% !important;
}


::ng-deep .p-calendar {
    width: 100% !important;
}


@media only screen and (max-width: 670px) { 
    .formcont {
        padding-left: .5rem;
    }
}
