<form [formGroup]="petForm" class="petForm">

    <div class="row justify-content-center">
        <div class="col-auto">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText formControlName="name">
                <label for="float-input">Name</label>
            </span>

        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-auto">
            <div>Gender</div>
            <br>
            <div class="p-field-radiobutton">
                <p-radioButton name="sex" value="female" formControlName="sex"></p-radioButton>
                <label for="female">Female</label>
            </div>
            <br>
            <div class="p-field-radiobutton" >
                <p-radioButton name="sex" value="male" formControlName="sex"></p-radioButton>
                <label for="male">Male</label>
            </div>    

        </div>
    </div>
    <br>
    <div class="row justify-content-center">    
        <div class="col-auto">
            <p-calendar view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" formControlName="year"></p-calendar>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <p-dropdown [options]="animals" optionValue="id" formControlName="animalId" placeholder="Animal" optionLabel="name" [showClear]="true" >
                <ng-template let-animal>
                    <div class="p-d-flex p-ai-center">
                        <div>{{animal.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <p-dropdown [options]="filteredRaces" optionValue="id"  formControlName="raceId" placeholder="Race" optionLabel="name" [disabled]="!selectedAnimal">
                <ng-template let-race>
                    <div class="p-d-flex p-ai-center">
                        <div>{{race.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <p-dropdown [options]="owners" optionValue="id" formControlName="ownerId" placeholder="Onwer" optionLabel="fullName" [showClear]="true">
                <ng-template let-owner>
                    <div class="p-d-flex p-ai-center">
                        <div>{{owner.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>  
    <br>
    <div class="row justify-content-center">
        <div class="col-auto">
            <button pButton type="button" class="p-button-sm" (click)="onEditPet()">Edit</button>&nbsp;
            <button pButton type="button" class="p-button-sm p-button-secondary" (click)="onDeletePetModal(pet)">Delete</button>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-auto">
            <button _ngcontent-ufx-c54="" pbutton="" pripple="" type="button" icon="pi pi-times" 
            class="p-button-rounded p-button- p-button-text p-ripple p-button p-component p-button-icon-only" (click)="onCancel()">
            <span class="p-button-icon pi pi-times" aria-hidden="true"></span><span aria-hidden="true" class="p-button-label">
            &nbsp;</span><span class="p-ink" style="height: 33px; width: 33px; top: 2.51562px; left: 3.59375px;"></span></button>
        </div>
    </div>
</form>