:host {
    .docked .group-items > & {

        > .nav-link {
           
            > .nav-link-title,
            > .nav-link-badge {
                opacity: 0;
                transition: opacity 150ms ease;
            }
        }
        > .active.nav-link {
            border-radius: 20px;
            margin: 0 13px;
            padding: 0 11px;
        }
    }


    .docked:hover .group-items > & {

        > .nav-link {
            > .nav-link-title,
            > .nav-link-badge {
                opacity: 1;
            }
        }
        > .active.nav-link {
            padding: 0 24px;
            margin: 0 12px 0 0;
            border-radius: 0 20px 20px 0;
        }
    }

    .children >  &.nav-item {
        .nav-link {
            padding-left: 40px;
        }
    }
    

    .nav-link {
        height: 38px;
        border-radius: 0 20px 20px 0;
        margin: 0 12px 0 0;
        font-size: 15px;
        text-decoration: none!important;
        padding: 0 24px;
        overflow: hidden;
        cursor: pointer;
        user-select: none;
        color: rgba(255, 255, 255, 0.9);
        position: relative;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        background-color: transparent;
        transition: background-color .1s ease;
        &:hover {
            background-color: rgba(0, 0, 0, 0.15);
        }
    }
    .nav-link.active {
        background-color: rgba(255, 255, 255, 0.92) !important;
        color: rgba(0, 0, 0, 0.98);
        .nav-link-icon {
            color: rgba(0, 0, 0, 0.98);
        }
    }
    .nav-link-title {
        margin-left: 8px;
        -webkit-box-flex: 1;
        flex: 1 1 auto;
        white-space: nowrap;
    }
    .nav-link-icon {
		font-size: 17px;
		width: 17px;
		height: 17px;
		min-width: 17px;
		min-height: 17px;
		line-height: 17px;
		color: rgba(255, 255, 255, 0.9);
    }

    .nav-link .nav-link-badge {
        min-width: 18px;
        height: 18px;
        padding: 0 8px;
        font-size: 10px;
        font-weight: 400;
        border-radius: 20px;
        opacity: 1;
        transform: scale(1);
    }


    .navbar-open & .nav-link .nav-link-badge {
        opacity: 1;
        transform: scale(1);
    }
    .docked & .nav-link .nav-link-badge { 
        opacity: 0;
        transform: scale(0);
    }
    .docked:hover & .nav-link .nav-link-badge { 
        opacity: 1;
        transform: scale(1);
        transition: all 0.2s ease-in-out 0.2s;

    }
    
 }
 

