<div class="drag" appDnd (fileDropped)="onFileDropped($event)">
    <p>Drag nad drop file here</p>
</div>

<div class="label-field">
    <label for="choose-files" pButton type="button" class="p-button-sm" icon="pi pi-upload" iconPos="left" label="Browse"></label>
</div>
<input type="file" id="choose-files" (change)="onFileSelected($event)" multiple/>
<div class="files-list" >
    <div *ngFor="let file of files">
        <app-upload-file [droppedFile]="file" (deleteFile)="onDeletedFile($event)" class="single-file"></app-upload-file>
    </div>
</div>  


