<div class="container">
    <div class="row">

        <div class="col-12 header">
            Record-{{case.pet.id}}
        </div>

        <div class="col-12 bold">
            Case
        </div>
        <div class="col-12">
            {{case.name}}
        </div>
        <hr>   

        <div class="col-12 bold">
            Pet name
        </div>
        <div class="col-12">
            {{case.pet.name}}
        </div>
        <hr>

        <div class="col-12 bold">
            Owner
        </div>
        <div class="col-12">
            {{case.pet.owner.fullName}}
        </div>
        <hr>    

        <div class="col-12 bold">
            Veterinarian
        </div>
        <div class="col-12">
            <div class="vets" *ngFor="let vc of case.vetCases">
                {{vc.vet.fullName}}<span>,</span>
            </div>
        </div>
        <hr>   
        
        <div class="col-12 bold">
            Date
        </div>
        <div class="col-12">
            {{case.date | date: 'dd.MM.y.'}}
        </div>
        <hr>

        <div class="col-12 bold">
            Service
        </div>
        <div class="col-12">
            <div class="service" *ngFor="let cs of case.casePetServices">
                {{cs.petService.name}} - {{cs.petService.price}} eur<span>,</span>
            </div>
        </div>
        <hr>

        <div class="col-12 bold">
            Diagnosis
        </div>
        <div class="col-12">
            {{case.diagnosis}}
            
        </div>
        <hr>

        <div class="col-12" *ngIf="case.therapies.length">

            <div class="row">
                <div class="col-12 header" >Therapies</div>

                <div class="row">
                    <div class="col-sm-4" style="padding-right:.5rem;" *ngFor="let t of case.therapies">

                        <div class="col-12" style="font-weight:bold">
                            Date
                        </div>

                        <div class="col-12" style="padding-bottom:.4rem;">
                            {{t.date | date: 'dd.MM.y.'}}
                        </div>

                        <div class="col-12" style="font-weight:bold">
                            Drug
                        </div>

                        <div class="col-12" style="padding-bottom:.4rem;">
                            {{t.drug}}
                        </div>

                        <div class="col-12" style="font-weight:bold">
                            Description
                        </div>

                        <div class="col-12" style="padding-bottom:1.5rem;">
                            {{t.description}}
                            is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <hr *ngIf="case.therapies.length">

        <div class="col-12" *ngIf="case.controls.length">

            <div class="row">
                <div class="col-12 header">Controls</div>

                <div class="row">
                    <div class="col-sm-4" *ngFor="let c of case.controls">

                        <div class="col-12" style="font-weight:bold">
                            Name
                        </div>

                        <div class="col-12" style="padding-bottom:.4rem;">
                            {{c.name}}
                        </div>

                        <div class="col-12" style="font-weight:bold">
                            Date
                        </div>

                        <div class="col-12" style="padding-bottom:.4rem;">
                            {{c.date | date: 'dd.MM.y.'}}
                        </div>

                        <div class="col-12" style="font-weight:bold">
                            Description
                        </div>

                        <div class="col-12" style="padding-bottom:1.5rem;">
                            {{c.description}}
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
        <hr *ngIf="case.controls.length">

        <div class="col-12" *ngIf="case.xrays.length">

            <div class="col-12 header">Documentation</div>
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-12" *ngFor="let x of case.xrays">
                    <a href="https://localhost:44369/MyImages/{{x.fileName}}" title="{{x.fileName}}">
                        <div class="name">
                            {{x.fileName}}
                        </div>
                    </a>
                </div>
            </div>    
        </div>
        <hr *ngIf="case.xrays.length">

        <div class="col-12 bold">
            Paid
        </div>
        <div class="col-12">
            {{isPaid}}
        </div>
        <hr>
        
        <div class="d-flex justify-content-between margin-b-10">
             <!-- <div *ngIf="isPaid==='No'"> -->
            <button pButton type="button" class="p-button-text p-button-secondary" (click)="onShow()"
                *ngIf="!toggle">Pay Bill
            </button>

              <!-- <div *ngIf="isPaid==='Yes'"> -->
            <button pButton type="button" class="p-button-text p-button-plain" (click)="onPDF()">PDF Receipt</button>
        </div>        
        <div class="payment" [class.toggle]="toggle">

            <div class="container" *ngIf="isPaid==='No'">

                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <app-stripe [paymentCase]="payment"></app-stripe>
                    </div>

                    <div class="col-12 d-flex justify-content-center margin-b-10">
                        <button type="button" icon="pi pi-times"
                            class="p-button-rounded  p-button-text p-button p-button-icon-only" (click)="onShow()">
                            <span class="p-button-icon pi pi-times"></span>
                        </button>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="row g-0 justify-content-center margin-b-10">
            <div class="col-auto">
                <button pButton type="button" class="p-button-sm margin-r-10" (click)="onEdit()">Edit Case</button>
            <button pButton type="button" class="p-button-sm p-button-secondary" 
            (click)="onCancel()">Cancel</button>
            </div>
        </div>

    </div>
</div>