<form [formGroup]="userForm" class="userForm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <input class="input" type="text" pInputText placeholder="Username" formControlName="username" [style]="{'width':'250px'}">
            </div>

            <div class="col-12">
                <input class="input" type="text" pInputText placeholder="Email" formControlName="email" [style]="{'width':'250px'}">
            </div>

            <div class="col-12">
                <p-dropdown [options]="roles" optionValue="id" formControlName="roleId" placeholder="Role" optionLabel="name" [style]="{'width':'250px'}" [showClear]="true" >
                    <ng-template let-role>
                        <div class="p-d-flex p-ai-center">
                            <div>{{role.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="col-12">
                <input class="input" type="text" pInputText placeholder="First Name" formControlName="firstName" [style]="{'width':'250px'}">
            </div>

            <div class="col-12">
                <input class="input" type="text" pInputText placeholder="Last Name" formControlName="lastName" [style]="{'width':'250px'}">
            </div>

            <div class="col-12">
                <button pButton type="button" class="p-button-sm" (click)="onEditUser()">Edit</button>&nbsp;
                <button pButton type="button" class="p-button-sm p-button-secondary" (click)="deleteUserModal(user)">Delete</button>
            </div>
        </div>
    </div>
</form>


    
   
