<form [formGroup]="myForm" (ngSubmit)="onEditUser()">
    <br>
    <mat-form-field appearance="fill" >
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="myForm.invalid">enter username</mat-error>  
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" >
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" >
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" >
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
    </mat-form-field>
    <br>
    <mat-form-field>
		<mat-label>Role</mat-label>
		<mat-select formControlName="roleId"> 
			<mat-option *ngFor="let role of roles" [(value)]="role.id">{{role.name}}</mat-option>
		</mat-select>
	</mat-form-field>
    <br> 
    <button mat-button type="submit">Edit</button>
    <!-- <button mat-button color="warn" >Delete</button> -->
</form>

