<div class="container">
    <form [formGroup]="caseForm" class="caseForm">
        <div class="row">
            <div class="col-12">
                <div class="field-container">
                    <div class="field">
                        <input class="p-invalid" type="text" pInputText placeholder="Name" formControlName="name" [style]="{'min-width':'300px'}"> 
                        <div *ngIf="caseForm.controls['name'].invalid && caseForm.controls['name'].dirty">
                            <small *ngIf="caseForm.controls['name'].errors?.required" class="p-error">Name is required</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="field-container">
                    <div class="field">
                        <p-dropdown [options]="pets" formControlName="petId" optionValue="id" placeholder="Pet" optionLabel="name" [showClear]="true" [style]="{'min-width':'300px'}">
                            <ng-template let-pet>
                                <div class="p-d-flex p-ai-center">
                                    <div>{{pet.name}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <div *ngIf="caseForm.controls['petId'].invalid && caseForm.controls['petId'].dirty">
                            <small *ngIf="caseForm.controls['petId'].errors?.required" class="p-error">Pet is required</small>
                        </div> 
                    </div>
                </div>    
            </div>
            
            <div class="col-12">
                <div class="field-container">
                    <div class="field">
                        <p-calendar dateFormat="dd/mm/yy" formControlName="date"
                        value="{{ case.date | date: 'dd/MM/y' }}"  [showIcon]="true" [style]="{'min-width':'300px'}"></p-calendar>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="field-container">
                    <div class="field">
                        <p-multiSelect [options]="vets" formControlName="vetCases" optionValue="id" defaultLabel="Select a Vet" optionLabel="fullName" display="chip"
                         [style]="{'min-width':'300px'}">
                            <ng-template let-vet>
                                <div class="p-d-flex p-ai-center">
                                    <span>{{vet.fullName}}</span>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                        <div *ngIf="caseForm.controls['vetCases'].invalid && caseForm.controls['vetCases'].dirty">
                            <small *ngIf="caseForm.controls['vetCases'].errors?.required" class="p-error">Vet is required</small>
                        </div>
                    </div>
                </div>    
            </div>  

            <div class="col-12">
                <div class="field-container">
                    <div class="field">
                        <p-multiSelect [options]="petServices" formControlName="casePetServices" optionValue="id" defaultLabel="Select a Service" optionLabel="name" display="chip"
                         [style]="{'min-width':'300px'}">
                            <ng-template let-service>
                                <div class="p-d-flex p-ai-center">
                                    <span>{{service.name}}</span>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                        <div *ngIf="caseForm.controls['casePetServices'].invalid && caseForm.controls['casePetServices'].dirty">
                            <small *ngIf="caseForm.controls['casePetServices'].errors?.required" class="p-error">Service is required</small>
                        </div>
                    </div>
                </div>    
            </div>

            <!-- formArr controls -->
            <div class="col-12" formArrayName="controls">
                <div class="field-form" *ngFor="let controlFormGroup of controlsForm.controls; let i = index">
                    <div class="formArr" [formGroup]="controlsForm.controls[i]">
                        <div class="field-formArr">
                            <input class="p-invalid" type="text" pInputText placeholder="Name" formControlName="name" [style]="{'min-width':'265px'}">
                            <div *ngIf="controlFormGroup.controls['name'].invalid && controlFormGroup.controls['name'].dirty">
                                <small *ngIf="controlFormGroup.controls['name'].errors?.required" class="p-error">Name is required</small>
                            </div>      
                        </div>
                        <div class="field-formArr">           
                            <input class="p-invalid" type="text" pInputText placeholder="Description" formControlName="description" [style]="{'min-width':'265px'}">
                        </div>
                        <div class="field-formArr">             
                            <p-calendar dateFormat="dd/mm/yy" formControlName="date" [style]="{'min-width':'265px'}" [showIcon]="true"
                            value="{{ controlFormGroup.date | date: 'dd/MM/y }}" placeholder="Date"></p-calendar>
                            <div *ngIf="controlFormGroup.controls['date'].invalid && controlFormGroup.controls['date'].dirty">
                                <small *ngIf="controlFormGroup.controls['date'].errors?.required" class="p-error">Date is required</small>
                            </div>    
                        </div>      
                    </div>
                    <i class="pi pi-trash" style="font-size: 1.1rem; color: red;" (click)="deleteControl(i)"></i> 
                </div>
                <div class="icon-field">
                    <button pButton type="button" class="p-button-sm p-button-text p-button-primary" (click)="addConstrolsForm()">Add Control</button>
                </div>
            </div>

            <!-- formArr therapies -->
            <div class="col-12" formArrayName="therapies">
                <div class="field-form" *ngFor="let therapyFormGroup of therapiesForm.controls; let i = index">
                    <div class="formArr" [formGroup]="therapiesForm.controls[i]">
                        <div class="field-formArr">
                            <input class="p-invalid" type="text" pInputText placeholder="Drug" formControlName="drug" [style]="{'min-width':'265px'}">
                            <div *ngIf="therapyFormGroup.controls['drug'].invalid && therapyFormGroup.controls['drug'].dirty">
                                <small *ngIf="therapyFormGroup.controls['drug'].errors?.required" class="p-error">Drug is required</small>
                            </div>      
                        </div>
                        <div class="field-formArr">        
                            <input class="p-invalid" type="text" pInputText placeholder="Description" formControlName="description" [style]="{'min-width':'265px'}">
                        </div>
                        <div class="field-formArr">             
                            <p-calendar dateFormat="dd/mm/yy" formControlName="date" [style]="{'min-width':'265px'}" [showIcon]="true"
                            value="{{ therapyFormGroup.date | date: 'dd/MM/y }}" placeholder="Date"></p-calendar>
                            <div *ngIf="therapyFormGroup.controls['date'].invalid && therapyFormGroup.controls['date'].dirty">
                                <small *ngIf="therapyFormGroup.controls['date'].errors?.required" class="p-error">Date is required</small>
                            </div> 
                        </div>     
                    </div>
                    <i class="pi pi-trash" style="font-size: 1.1rem; color: red;" (click)="deleteTherapy(i)"></i>
                </div>
                <div class="icon-field">
                    <button pButton type="button" class="p-button-sm p-button-text p-button-primary" (click)="addTherapiesForm()">Add Therapy</button>
                </div>
            </div>

            <!-- drag & drop upload -->
            <app-uploader #fileUploader [xrays]="case.xrays"></app-uploader>

            <div class="col-12">
                <div class="buttons-field">
                    <button pButton type="button" class="p-button-sm" (click)="onEditCase()" [disabled]="!caseForm.valid">Edit</button>
                    <button pButton type="button" class="p-button-sm p-button-secondary" (click)="onDeleteCaseModal(case)">Delete</button>
                </div>
            </div>
            <br>
            <div class="col-12">
                <div class="field-container">
                    <div class="field">
                        <button _ngcontent-ufx-c54="" pbutton="" pripple="" type="button" icon="pi pi-times" 
                        class="p-button-rounded p-button- p-button-text p-ripple p-button p-component p-button-icon-only" (click)="onCancel()">
                        <span class="p-button-icon pi pi-times" aria-hidden="true"></span><span aria-hidden="true" class="p-button-label">
                        &nbsp;</span><span class="p-ink" style="height: 33px; width: 33px; top: 2.51562px; left: 3.59375px;"></span></button>
                    </div>    
                </div>    
            </div>
        </div>
    </form>
</div>    
