.container {
    display: flex;
    justify-content: center;
} 

.caseForm { 
    max-width: 300px;
    margin-top: 1.5rem;
}

.field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .75rem;
}

.buttons-field {
    display: flex;
    justify-content: center;
    padding: .75rem;
}

.icon-field {
    display: flex;
    justify-content: center;
}

.field {
    display: flex;
    flex-direction: column;
}

.field-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 0 0 0 ;
}

.formArr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-formArr {
    margin-bottom: .75rem;
}

.pi {
    cursor: pointer;
}

.p-button-sm {
    margin: 0.3rem
}
