/* You can add global styles to this file, and also import other style files */
body {
    padding: 2rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.p-datatable table {
    table-layout: auto !important;
}



.mat-snack-bar-container {
    color: gray;
    background: white;
}

.mat-simple-snackbar-action {
    color: #dc5c52;
}

.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600  !important;
    font-size: 1rem  !important;
}

@media only screen and (max-width: 670px) {
    body {
        padding:0;
    }
}