<ng-container *ngIf="!item.hidden">

    <!-- normal collapsable -->
    <a class="nav-link" id="{{item.id}}" [ngClass]="item.classes" *ngIf="!item.url && !item.function" (click)="toggleOpen($event)">
        <mat-icon class="nav-link-icon" *ngIf="item.icon">{{item.icon}}</mat-icon>
        <span class="nav-link-title">{{item.title}}</span>
        <span class="nav-link-badge" *ngIf="item.badge" [ngStyle]="{'background-color': item.badge.bg,'color': item.badge.fg}">
            {{item.badge.title}}
        </span>
        <mat-icon class="collapsable-arrow">keyboard_arrow_right</mat-icon>
    </a>


    <div class="children" [@slideInOut]="isOpen">
        <ng-container *ngFor="let item of item.children">
            <app-nav-item *ngIf="item.type=='item'" [item]="item"></app-nav-item>
        </ng-container>
    </div>

</ng-container>